@import "tailwindcss";


.srcollbar-hide::-webkit-scrollbar{
    display: none;
}
.srcollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.blog-content{
    padding: 36px 0;
}
.blog-content b{
    margin-bottom: 10px;
    font-weight: 500;
}
.blog-content h1{
    margin-top: 10px;
    font-weight: 600;
    font-size: 26px;
}
.blog-content h1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 22px;
}
.blog-content h1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}